<app-carousel #carousel1
              [images]="images"
              [firstImage]="firstImage"
              [id]="carousel1Id"
              [options]="options1"
              (slideClickedEmitter)="moveToSlide($event)"></app-carousel>
<app-carousel #carousel2
              [images]="images2"
              [firstImage]="firstImageRamsey"
              [id]="carousel2Id"
              [options]="options2"
              (slideClickedEmitter)="moveToSlide($event, findCarousel(carousels, $event))"></app-carousel>